
.container1 {
    height: 600px;
    width: 100%;
    text-align: center;
    padding-top: 250px;
    background-repeat: no-repeat;
    background-color: #3757D0;
    background-image: radial-gradient(#81BCFF, #303391);
}

.images-gallery{
    height: 150px;
    width: 150px;
}
.container2 {
    padding-top: 50px;
}

.container3 {
    padding-top: 25px;
    box-sizing: content-box;
    padding-bottom: 25px;

}
.container4{
    padding-top: 50px;
}
h1 {
    font-family: 'Monoton', cursive;
    color: white;
    letter-spacing: 10px !important;
}

p {
    font-family: 'Courgette', cursive;
    font-size: 35px;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .container1 {
        padding-top: 150px;
        background-repeat: no-repeat;
    }
}
.kadli{
	transform: rotate(90deg); 
}
span.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}


span.gallery img {
    width: 100%;
    height: auto;
}
